In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Sales Data.csv", index_col=0)

In [3]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 13621
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Sales             185950 non-null  float64
 8   City              185950 non-null  object
 9   Hour              185950 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 15.6+ MB

In [5]:
data['Order Date'] = pd.to_datetime(data["Order Date"])

In [6]:
data['Day']= data['Order Date'].dt.day

In [7]:
data["Address"] = data["Purchase Address"].apply(func = lambda x: x.split(',')[0])

In [8]:
data['State'] = data["Purchase Address"].apply(func = lambda x: x.split(',')[2].split()[0])

In [9]:
data['Postal Code'] = data["Purchase Address"].apply(func = lambda x: x.split(',')[2].split()[1])

In [10]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,Day,Address,State,Postal Code
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,30,136 Church St,NY,10001
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,29,562 2nd St,NY,10001
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,12,277 Main St,NY,10001
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,22,410 6th St,CA,94016
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,18,43 Hill St,GA,30301

In [11]:
data.drop(["Purchase Address"], axis=1 ,inplace=True)

In [12]:
data.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Month', 'Sales', 'City', 'Hour', 'Day', 'Address', 'State',
       'Postal Code'],
      dtype='object')

In [13]:
data = data.reindex(columns=['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Day',
                      'Month', 'Hour', 'Address', 'City', 'Postal Code', 'State', 'Sales'])

In [14]:
df = data[data['Order Date'].dt.year == 2019]

In [15]:
df.to_csv("Cleaned Sales Data 2019.csv")